<h1>Books:</h1>
  <br>

<% @books.each do |book| %>
  <section id = "book-<%= book.id %>">
    <h2>Title: <%= book.title %></h2>
      <p>Number of Pages: <%= book.pages %></p>
      <p>Year Published: <%= book.publication_year %></p>
      <p>Author: <%= link_to "#{book.author.name}", "/authors/#{book.author.id}" %></p>
  </section>
<% end %>
